body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
    background: #ffffff;
}

header {
    background: #ffffff;
    color: white;
    text-align: center;
    padding: 1rem;
}

section {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h1, h2 {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
}

 .highlight-link {
      position: relative;
      color: #333;
      text-decoration: none;
    }

    .highlight-link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: orange;
      transition: width 0.3s ease-in-out;
    }

    .highlight-link:hover::after {
      width: 100%;
    }